<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp!</title>
</head>
<body>
<header>
  <% include ./partials/_header %>

</header>
<ul>
  <% for (var i in urls) { %>
    <li><%= i %> : <%= urls[i].longURL %></li>
  <form action="/urls/<%=shortURL%>" method="GET" style="margin:150px;">
    <!-- <form method="POST" action="/urls/<%= i %>/"> -->
    <input type="submit" value="Edit">


    </form>
  <% } %>

</ul>
<a href="urls/new">Add new!</a>
</body>
</html>